.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article-wrapper {
  max-width: 800px;
  width: 80vw;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
}

.admin-actions {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.admin-actions button {
  width: 8rem;
  height: 1rem;
  min-height: 2rem;
  font-size: 1rem;
}
