.carousel-wrapper {
  background-color: var(--background-color);
}

.header {
  padding-left: 1rem;
  padding-right: 1rem;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
}
