.manage-articles-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  width: 80%;
  max-width: 1200px;
  max-height: 90vh;
  background-color: red;
  padding: 2rem;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.manage-article-header {
  text-align: center;
  font-size: 1.8rem;
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.error-message {
  text-align: left;
  padding-left: 1rem;
  margin-top: 0.5rem;
  color: red;
}

.error-message-content {
  text-align: left;
  padding-left: 1rem;
  margin-top: -0.5rem;
  color: red;
}

button {
  min-height: 3rem;
}

select {
  position: relative;
  width: 100%;
  height: 3rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: unset;
}

select:focus {
  padding-left: 1rem;
  outline: none;
  border: 1px solid var(--green-cyan-color);
  border-radius: 6px;
  background-color: transparent;
}

select {
  color: gray;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  font-size: 0.8rem !important;
}

.form-container input {
  color: gray;
}

.inner-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.inner-form-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 49%;
}

.inner-form-container-wrapper input {
  width: 100%;
}

.actions-wrapper {
  list-style: none;
  display: flex;
  gap: 1rem;
  min-width: 100%;
  cursor: pointer;
  min-width: 50%;
  padding: unset;
  margin: unset;
}

.icon:hover {
  color: var(--green-cyan-color);
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.image-wrapper,
.video-wrapper {
  background-color: #eee;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.image-controls {
  background-color: #fff;
  border: 2px solid #ececec;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5rem;
}

.image-controls:first-child {
  font-size: 0.9rem;
  color: gray;
  cursor: pointer;
}

.image-controls:first-child:hover {
  color: var(--green-cyan-color);
}

.image,
.video {
  width: auto;
  height: auto;
  margin: 0 auto;
}

.editor-container {
  border: 1px solid var(--green-cyan-color);
  padding: 1rem;
  min-height: 380px;
  height: 85%;
  border-radius: 6px;
  overflow: auto;
}

.editor-container-error {
  border: 1px solid red;
  padding: 1rem;
  min-height: 380px;
  height: 85%;
  border-radius: 6px;
  overflow: auto;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.xmark {
  color: #000;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.xmark:hover {
  color: var(--green-cyan-color);
}

.text-align-left,
.text-align-left .public-DraftStyleDefault-block,
.text-align-left .public-DraftStyleDefault-block span {
  text-align: left !important;
}

.text-align-center,
.text-align-center .public-DraftStyleDefault-block,
.text-align-center .public-DraftStyleDefault-block span {
  text-align: center !important;
}

.text-align-right,
.text-align-right .public-DraftStyleDefault-block,
.text-align-right .public-DraftStyleDefault-block span {
  text-align: right !important;
  background-color: red;
}

.public-DraftStyleDefault-block {
  width: 100%;
}

@media screen and (max-width: 1090px) {
  .inner-form-container-wrapper {
    width: 48.5%;
  }
}

@media screen and (max-width: 750px) {
  .inner-form-container-wrapper {
    width: 100%;
  }
  .inner-form-container {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .actions-wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .actions-wrapper {
    gap: 0.5rem;
    width: 100%;
  }

  .manage-articles-container {
    width: 90%;
    padding: 1rem;
  }
}

input {
  padding-left: 1rem;
  padding-right: 1rem;
}

input:not(:focus) {
  border: 1px solid lightgray;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border: 1px solid var(--green-cyan-color);
  border-radius: 6px;
  background-color: transparent;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 1000px #ffffff;
}

input {
  height: 3rem;
}

.content-error {
  border-color: red;
}

.form-input input {
  font-size: 0.8rem;
  color: gray;
}

.articleTitle {
  position: relative;
  width: 100%;
}

.articleTitle input {
  width: 100%;
}

.error input {
  border-color: red;
}

.error label {
  color: red;
}

label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--green-cyan-color);
  font-size: 0.9rem;
  position: absolute;
  left: 1rem;
  top: -0.6rem;
  background-color: #fff;
  padding: 0rem 0.4rem;
}

input::placeholder {
  font-size: 0.8rem;
}

@media screen and (max-width: 400px) {
  .auth-container input::placeholder {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 360px) {
  input::placeholder {
    font-size: 0.68rem;
  }
}

@media screen and (max-width: 300px) {
  label {
    font-size: 0.8rem;
  }
}
