.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article-wrapper {
  max-width: 800px;
  width: 80vw;
}

.footer {
  display: flex;
  justify-content: center;
}
